$main-color: rgb(243,21,4);
$hcolor: rgb(70, 226, 140);
$font: 'Roboto', sans-serif;

/* Color Theme Swatches in Hex */
$Nueva-Gama-1-hex: #F4F6F8;
$Nueva-Gama-2-hex: #1438A6;
$Nueva-Gama-3-hex: #3F51B5;
$Nueva-Gama-4-hex: #77CFF2;
$Nueva-Gama-5-hex: #FFCD42;




@mixin reset {
    margin: 5px;
    padding: 0;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

body {
    background-color: $Nueva-Gama-1-hex;
    height: 100%;
    font-family: $font;
}

a {
    text-decoration: none;
}

#root {
    height: 100%;
}