$main-color: rgb(243,21,4);
$hcolor: rgb(70, 226, 140);
$font: Arial, sans-serif;

/* Color Theme Swatches in Hex */
$logo-1-hex: #D92588;
$logo-2-hex: #F299CA;
$logo-3-hex: #5D29A6;
$logo-4-hex: #8760BF;
$logo-5-hex: #F2F2F2;



@mixin reset {
    margin: 5px;
    padding: 0;

}
@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

nav{
    background-color: $logo-3-hex;
    padding: 0;
    margin: 5px;
}